Repository liip/drifter, pull requests merged in 2018-11, with the labels that each got.

#234 Enable assertion exceptions for PHP 7.0 and later
  CHANGELOG.md
  docs/roles/php.rst
  provisioning/roles/php/defaults/main.yml
  provisioning/roles/php/templates/php.ini.j2
Labels: role: php

#231 Update webpack role package dependencies & config
  CHANGELOG.md
  docs/roles/webpack.rst
  provisioning/roles/nodejs/templates/package.json.webpack.j2
  provisioning/roles/webpack/defaults/main.yml
  provisioning/roles/webpack/tasks/main.yml
  provisioning/roles/webpack/templates/babel.config.js
  provisioning/roles/webpack/templates/webpack.config.js
Labels: area: front-end, role: webpack

#227 Add Django bash completion in Django role
  CHANGELOG.md
  provisioning/roles/django/tasks/main.yml
Labels: role: django
